* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box;   
}
.main-nav {
color: grey;
display: flex;
align-items: center;
justify-content:flex-end;
background-color: black;
}
.main-nav p {
    font-size: 33px;
    font-weight: 300;
}
.nav-tag {
    padding: 10px;
    display: flex;
    margin-right: 70px;    
}
.main-nav a {
    color: red;
    padding: 12px 10px;
    margin: 0px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px;
    text-decoration: none;
}
.main-nav a:hover {
    color: black;
    background-color: red;
}